
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0ea4d1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#TableroPrincipal, .boardinfo {
    max-width: 500px;
}

#TableroPrincipal {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 20px; /* espacio entre tablero y botón */
}

.boardinfo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.startGame {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
}
    #gameOver {
        display: none;
    }
    .emptySquare {
        background-color: #79b5f5;
    }
    .square {
        aspect-ratio: 1;
    }
    
   .BotonAgua{
    width: 50px;
    
    height: 50px;
    color: #fff;

    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;

   }
   
  .startGame:hover , .BotonAgua:hover{
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .startGame:active, .BotonAgua:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }
  /*Boton barco*/
  .BotonBarco{
    width: 50px;
    
    height: 50px;
  

    font-weight: bold;
    
    transition: all 0.3s ease;
    position: relative;
  
    outline: none;
    border-radius: 5px;
    border: none;
    background: #f72c47;
    box-shadow: 0 5px #f72c47;

   }
   
 

  .BotonAguaTocado{
    width: 50px;
    
    height: 50px;
    color: #fff;

    font-weight: bold;

    transition: all 0.3s ease;
    position: relative;
  
    outline: none;
    border-radius: 5px;
    border: none;
    background: #4433ff;
    box-shadow: 0 5px #4433ff;

   }